asn1crypto==0.24.0
blessings==1.7
bpython==0.18
certifi==2019.11.28
chardet==3.0.4
cryptography==2.1.4
curtsies==0.3.0
enum34==1.1.6
greenlet==0.4.15
idna==2.8
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pycrypto==2.6.1
Pygments==2.5.2
pygobject==3.26.1
pyxdg==0.25
requests==2.22.0
SecretStorage==2.3.1
six==1.13.0
typing==3.7.4.1
urllib3==1.26.5
wcwidth==0.1.7
